<div class="app-wrapper">
    <div class="row mx-3 my-5">
        <!-- Column -->
        <div class="col-lg-12 py-5">
            <div class="card py-4">
                <div class="card-body mx-3">
                    <form action="/admin/add-product" method="POST" enctype="multipart/form-data" id="productForm">
                        <div class="form-body">
                            <h4 class="card-title pb-3">ALL PRODUCTS</h4>
                            <hr>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="title">Product Title</label>
                                        <input type="text" id="title" class="form-control" name="title" placeholder="product title">
                                    </div>
                                    <div class="alert-message fw-semibold" id="title-message"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="gender">Gender</label>
                                        <select class="form-select" placeholder="Choose Gender" id="gender" name="gender">
                                            <option value=>Select gender</option>
                                            <option value="women">Women</option>
                                            <option value="men">Men</option>
                                            <option value="girls">Girls</option>
                                            <option value="boys">Boys</option>
                                        </select>
                                    </div>  
                                    <div class="alert-message fw-semibold" id="gender-message"></div>                              
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="category">Category</label>
                                        <select class="form-select" placeholder="Choose a Category" id="category" name="category">
                                            <option value=>Select a Category</option>
                                            {{#each categories}}
                                                <option value={{this._id}}>
                                                  {{this.category}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="alert-message fw-semibold" id="category-message"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="brand">Brand</label>
                                        <select class="form-select" placeholder="Choose a brand" id="brand" name="brand">
                                            <option value=>Select a brand</option>
                                            {{#each brands}}
                                                <option value={{this._id}}>
                                                  {{this.brand}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="alert-message fw-semibold" id="brand-message"></div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="discount">Discount</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">
                                                <i class="fa-solid fa-percent"></i></span>
                                            <input type="text" class="form-control" placeholder="discount"
                                                id="discount" value="0" name="discount">
                                        </div>
                                    </div>
                                    <div class="alert-message fw-semibold" id="discount-message"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="mrp">MRP</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">
                                                <i class="fa-solid fa-money-bill"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="MRP Price"
                                                id="mrp" name="mrp">
                                        </div>
                                    </div>
                                    <div class="alert-message fw-semibold" id="mrp-message"></div>
                                </div>
                            </div>
                            <h5 class="py-3">Select Size and Set Stock Counts</h5>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="d-flex flex-wrap flex-md-nowrap mb-5" id="size">
                                        <div class="d-flex">
                                            <label for="sizes" class="pe-4 form-label">Select Size </label>
                                            <select class="form-select" id="sizes">
                                                <option value="Free">Select a size</option>
                                                <option value="Free">Free</option>
                                                <option value="XS">XS</option>
                                                <option value="S">S</option>
                                                <option value="M">M</option>
                                                <option value="L">L</option>
                                                <option value="XL">XL</option>
                                                <option value="2XL">2XL</option>
                                                <option value="3XL">3XL</option>

                                                <!-- Add more size options as needed -->
                                            </select>
                                        </div>
                                        <div class="input-group mt-sm-0 mt-4" id="addsizebtn">
                                           <input type="text" class="form-control" placeholder="Add Size" id="newSizeInput">
                                           <button class="btn btn-primary" type="button" id="addsize">Add</button>
                                        </div>
                                    </div>

                                    <div id="sizeTable" style="display: none;">
                                        <h6>Stock Counts</h6>
                                        <div class="alert-message fw-semibold" id="size-message"></div>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Size Name</th>
                                                    <th>Color & Stock</th>
                                                </tr>
                                            </thead>
                                            <tbody id="sizeTableBody"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="sizeDataInput" name="sizeData">
                            <h5 class="card-title mb-3">Product Description</h5>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                         <textarea class="form-control" placeholder="description" 
                                            name="description" id="description"></textarea>
                                    </div>
                                </div>
                                <div class="alert-message fw-semibold" id="description-message"></div>
                            </div>
                            
                            <h5 class="card-title mb-3 mt-5 ">Upload Image</h5>
                            <div class="row"> 
                                <div class="col-12" id="file-upload">
                                    <button class="file-upload-btn" type="button">Add Image</button>
                                    <div class="image-upload-wrap py-5">
                                        <!--<input class="file-upload-input" id="image" name="image" type="file" accept="image/*" multiple>-->
                                        <div class="drag-text"><h3>Add Images As Per Your Needed Order</h3></div>
                                        <div class="file-upload-content pb-5">
                                            <!-- Images will be appended here -->
                                        </div>
                                        <div class="limit-message" style="display:none;">Maximum limit reached (4 images)</div>
                                    </div>   
                                </div>
                                <div class="alert-message fw-semibold" id="image-message"></div>
                            </div>

                            <h5 class="card-title mt-5 mb-3">General Info</h5>
                            <div class="table-responsive" id="moreInfo">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td><input type="text" class="form-control" id="material" name="material" placeholder="Material">
                                                <div class="alert-message fw-semibold" id="material-message"></div></td>
                                            <td><input type="text" class="form-control" id="type" name="type" placeholder="Type">
                                                <div class="alert-message fw-semibold" id="type-message"></div></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="occassion" name="occassion" placeholder="Occassion">
                                                <div class="alert-message fw-semibold" id="occassion-message"></div></td>
                                            <td><input type="text" class="form-control" id="pattern" name="pattern" placeholder="Pattern">
                                                <div class="alert-message fw-semibold" id="pattern-message"></div></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="neckline" name="neckline" placeholder="Neckline Type">
                                                <div class="alert-message fw-semibold" id="neckline-message"></div></td>
                                            <td><input type="text" class="form-control" id="sleeve" name="sleeve" placeholder="Sleeve Type">
                                                <div class="alert-message fw-semibold" id="sleeve-message"></div></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="fit" name="fit" placeholder="Fit">
                                                <div class="alert-message fw-semibold" id="fit-message"></div></td>
                                            <td><input type="text" class="form-control" id="closure" name="closure" placeholder="Closure">
                                                <div class="alert-message fw-semibold" id="closure-message"></div></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="typeOfWork" name="typeOfWork" placeholder="Type Of Work">
                                                <div class="alert-message fw-semibold" id="typeOfWork-message"></div></td>
                                            <td><input type="text" class="form-control" id="legStyle" name="legStyle" placeholder="Leg Style">
                                                <div class="alert-message fw-semibold" id="legStyle-message"></div></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="riseStyle" name="riseStyle" placeholder="RiseStyle">
                                                <div class="alert-message fw-semibold" id="riseStyle-message"></div></td>
                                            <td><input type="text" class="form-control" id="padding" name="padding" placeholder="Padding">
                                                <div class="alert-message fw-semibold" id="padding-message"></div></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="coverage" name="coverage" placeholder="Coverage">
                                                <div class="alert-message fw-semibold" id="coverage-message"></div></td>
                                            <td><input type="text" class="form-control" id="wiring" name="wiring" placeholder="Wiring">
                                                <div class="alert-message fw-semibold" id="wiring-message"></div></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="packContains" name="packContains" placeholder="Packa Contains">
                                                <div class="alert-message fw-semibold" id="packContains-message"></div></td>
                                            <td>
                                                <div class="form-floating">
                                                    <textarea class="form-control" id="careInstructions" name="careInstructions" id="careInstructions">
                                                    </textarea>
                                                    <label for="careInstructions">Care Instructions</label>
                                                </div>
                                                <div class="alert-message fw-semibold" id="careInstructions-message"></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="form-actions mt-4">
                                <button type="submit" class="btn btn-success text-white"><i class="fa fa-check"></i> Save</button>
                                <button type="button" class="btn btn-dark">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>
                    
<!--
     <div class="col-md-6">
        <div class="form-group">
            <label class="form-label" for="colors">Colors</label>
            <input type="text" id="colors" class="form-control text-lowercase"
                placeholder="colors" name="colors" required>
        </div>
    </div>
-->