       
 
        <div class="row">
            <div class="col-md-6 form-group">
                <label>First Name</label>
                <input class="form-control" type="text" name="firstname" placeholder="" required>
                <span class="validation-message firstname-message"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" name="lastname" placeholder="" required>
                <span class="validation-message lastname-message"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>Mobile No</label>
                <input class="form-control" type="tel" name="phone" pattern="[0-9]{10}" 
                   placeholder="" required>
                <span class="validation-message phone-message"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>ZIP Code</label>
                <input class="form-control" type="text" name="zipCode" placeholder="" required>
                <span class="validation-message zipCode-message"></span>
            </div>
            <div class="col-12 form-group">
                <label class="d-block">Address(Area and Street)</label>
                <textarea name="address" rows="4" cols="50" required></textarea>
                <span class="validation-message address-message"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>City</label>
                <input class="form-control" type="text" name="city" placeholder="" required>
                <span class="validation-message city-message"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>State</label>
                <select class="custom-select"  name="state" required>
                    <option value="" selected disabled>Select State</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala" selected>Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
                <span class="validation-message state-message"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>Landmark (optional)</label>
                <input class="form-control" type="text" name="landmark" placeholder="">
                <span class="validation-message landmark-message"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>Alternative Phone (optional)</label>
                <input class="form-control" type="tel" name="alternativePhone" placeholder="">
                <span class="validation-message alternativePhone-message"></span>
            </div>
            <div class="col-12 form-group">
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
        </div>
    
                       