
<div id="serverError">
		<div class="srvrError">
			<div class="serverError-505">
				<h1>Oops!</h1>
				<h2>500 - Our Server is on break</h2>
			</div>
			<a href="#">Go TO Homepage</a>
		</div>
</div>