
body {
  background-color: rgb(253, 255, 255);/* rgb(239, 237, 234)*/
}

#page-heading-brand{
  background-color: rgb(211, 218, 147);
}

#page-heading-brand h2{
  letter-spacing: 5px;
  text-shadow: 0px 11px 10px rgba(81,67,21,0.8);
}

/*
#page_title{
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 10px -20px;
  background-color:  rgb(232, 208, 162),rgb(227, 186, 110), rgb(134, 183, 215), rgb(149, 193, 223), rgb(222, 213, 175);rgb(203, 202, 202)/* #eae597 , rgba(192, 188, 188, 0.887)
  background-color: rgb(232, 208, 162);
}


#page_title h1{
  
  font-family: 'Barlow', sans-serif;
  font-weight: bolder;
  letter-spacing:4px;
  color:rgb(0, 0, 0); rgb(236, 238, 221)
}

#page_title{
  background-color: rgb(242, 247, 203);
}*/

#page_title h1{
  font-family: 'Exo', sans-serif;
  color: #e0dfdc;
  display: inline-block;
  padding: .1rem 1rem;
  font-size: 1.9rem;
  background-color:  #333333;
  letter-spacing: .1em;
  text-shadow: 
    0 -1px 0 #fff, 
    0 1px 0 #2e2e2e, 
    0 2px 0 #2c2c2c, 
    0 3px 0 #2a2a2a, 
    0 4px 0 #282828, 
    0 5px 0 #262626, 
    0 22px 30px rgba(0, 0, 0, 0.9);
}


#selectedItems button{
    background-color: #e9fbff;
    color: #16617a;
    font-weight: 600;
    border: 1px solid #16617a;
    border-radius: 25px;
}

#emptyProducts {
   margin: 150px auto;
}

#reset{
   background-color: rgb(218, 218, 218);
   border: 1px solid rgb(117, 117, 117);
}
#filterBox {
  /*background-color: rgb(207, 197, 197);*/
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#filterBox h4{
  background-color: rgb(255, 255, 255);
}

#accordion .panel{
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: -8px;
}

#accordion .panel-heading{
  padding: 0;
  border-radius: 0;
  border: none;
  text-align: center;
}

#accordion .panel-title a, .gender-title{
  display: block;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  /*border:1px solid #167ea0;*/
  background-color: #167ea0;
  border: 1px solid rgb(224, 224, 224);
  border-bottom: none;
  text-decoration: none;
  /*border-bottom: 1px solid #613636;
  */position: relative;
  transition: all 0.5s ease 0s;
}

#accordion .panel-title a:hover{
  background: #b84848;
  color: rgb(255, 255, 255);
  /*background-color:#167ea0;background: #b84848;  background:  #333; */
}

#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
  content:"\f068";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 10px;
  left: 15px;
  transform: rotate(180deg);
  transition: all 0.2s ease 0s;
}

#accordion .panel-title a.collapsed:after{
  transform: rotate(90deg);
  content: "\2b";
}

#accordion .panel-body{
  background: #167ea0;
  border: none;
  position: relative;
}

#accordion .panel-body p{
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  padding: 30px;
  margin: 0;
}

/* Shop page */
.section-title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 50%;
  left: 0;
  border-top: 2px dashed #1e1e1e;
  z-index: -1;
}

.product-item { 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: .5s; 
  position: relative;
}

.product-item:hover { box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; }

.product-item .product-img img { transition: .5s; width: 100%;
  height: 280px;
  object-fit: contain; }
.product-item:hover .product-img img { transform: scale(1.1); }
.product-item .btn:hover { 
  color: white !important; 
}


.product-content{ background-color: white;}
.product-content > * { padding: .1rem; }

.product-brand {
   margin: 2px; 
   overflow: hidden;
   text-overflow: ellipsis;
   text-wrap: nowrap;
  }

  h6.product-brand a{
    color: #000000;/* rgb(239, 47, 47)*/
    text-decoration: none;
    font-weight: bold;
    font-size: .95rem;
 }
 
.product-title {
   margin-bottom: 2px; 
   font-size: .9rem;
   overflow: hidden;
   text-overflow: ellipsis;
   text-wrap: nowrap;
   padding: 0rem .9rem;
}
.product-price {
   font-size: 16px; 
   font-weight: 700;
   margin-bottom: 10px; 
}

.product-img {
  position: relative;
  background-color: white;
  height: 280px;
  overflow: hidden;
}
.prod-img{
  margin: auto;
}
.product-item .product-wishlist{
  position : absolute;
  top:5px;
  left: 10px;
  background-color: rgb(255, 255, 255);
  padding:2px 6px;
  border-radius: 50%;
  z-index:100;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
}
.product-item .product-wishlist i{
  color: #c94545;
}


.product-img .product-links{
  position : absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  opacity: 0;
  transition: 0.3s;
  width: 100%; 
}

.product-img .product-links a{
  color: #ffffff;/* #3d3c3c */
  border:none;
  text-align: center;
  font-size: 0.8rem;
  flex: auto;
  padding: .2rem 0rem;
}
.product-img:hover .product-links{ opacity : 1; }
.product-links a:hover{ 
  background-color:  #c94545;
  color: #fff;
}
.product-price .price { color: rgb(239, 47, 47); /* #f25b6a,#31adeb #3578d5*/}
.product-price .mrp { color: #949494; }
.product-price .discount { color: rgb(7, 144, 7); }
.fa-star{ color: #FFD333 !important; }
/* Main body */



@media screen and (max-width: 400px){
  .col-custom-sm{
     width: 100%;
  }
}

@media screen and (max-width: 799px){
  .col-lg-2{
     display: none;
  }
}

@media (min-width: 800px) {
  .col-lg-2{
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-lg-10 {
    flex: 0 0 70%;
    max-width: 70%;
  }
}
@media (min-width: 992px) {
  .col-lg-2{
    flex: 0 0 23%;
    max-width: 23%;
  }
  .col-lg-10 {
    flex: 0 0 77%;
    max-width: 77%;
  }
}

.custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.custom-control-inline {
  display: inline-flex;
  margin-right: 1rem;
}

.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: black;
  background-color: black;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50% / 50% 50%;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.custom-control-label::before{
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge{ color: rgb(94, 94, 94);}


/* Proce range slider*/
.range-slider {
  position: relative;
  width: 190px;
  height: 35px;
  text-align: center;
}
.range-slider input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 15px;
  width: 190px;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
}
.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}
.range-slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 9px;
}
#minMax{
  font-size: .94rem;
  font-weight: 600;
}
/*
.output {
  position: absolute;
  border:1px solid rgb(33, 81, 213);
  font-size: .8rem;
  padding:1px 5px ;
  font-weight: bold;
  text-align: center;
  color: rgb(33, 81, 213);
  border-radius: 4px;
  display: inline-block;
  bottom: 75%;
  
}
.outputOne,.outputTwo{
  margin-left: -50px;
}
*/


.output-container {
  display: flex;
  justify-content: space-between;
  bottom: 75%;
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.outputOne,.outputTwo {
  flex: 1;
  text-align: center;
  color: rgb(33, 93, 213);
  border: 1.5px solid rgb(238, 81, 81);
  border-radius: 4px;
  margin: 0 2px;
  font-size: .8rem;
  padding:1px 5px ;
  font-weight: bold;
}

input[type=range] {
  appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track { height: 5px; }
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
  position: relative;
 
}
input[type=range]#rangeOne::-webkit-slider-thumb{
  background-color: rgb(166, 64, 13); 
  z-index: 2; /
}
input[type=range]#rangeTwo::-webkit-slider-thumb{
  background-color: rgb(11, 7, 5);
  z-index: 1;
}
.full-range,.incl-range {
  width: 100%;
  height: 5px;
  left: 0;
  top: 21px;
  position: absolute;
  background-color: #DDD;
}
.swal-title-custom-class {
  font-size: 1.5rem;
}
