body {
    background-color:  #f1f3f6;/*#f0efef*/
  }
  
#myprofile{ background-color: #b34b4b; }
.showing,.form-select{ font-size: .93rem; }

.shadows {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.col-custom-md-3{ width: 250px; }

.nav-pills-custom .nav-link {
  color: #939393;
  background: #fff;
}

.nav-pills-custom .nav-link.active {
  color: #000000;
  background: #fff;
  font-weight: 600;
}

.nav-pills-custom .nav-link.active::before { opacity: 1; }

/* personal information*/
.save-button { display: none; }
.validation-message{ color: red; }

/* addresses */
.horizontal-box {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  position: relative;
}

.settings-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.horizontal-box h6 {
  font-size: 18px;
  margin-bottom: 10px;
}

.horizontal-box p {
  font-size: 14px;
  margin-bottom: 15px;
}

.horizontal-box a {
  color: #007bff;
  text-decoration: none;
  margin-right: 15px;
}

.horizontal-box a:last-child { margin-right: 0; }

.settings-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  display: none;
}

/* wishlist*/

/*panel*/
.panel {
    border: none;
    box-shadow: none;
}

.panel-heading {
    border-color:#eff2f7 ;
    font-size: 16px;
    font-weight: 300;
}

.panel-title {
    color: #2A3542;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}


/*product list*/

.prod-cat li a{ border-bottom: 1px dashed #d9d9d9; }
.prod-cat li a { color: #3b3b3b; }
.prod-cat li ul { margin-left: 30px; }
.prod-cat li ul li a{ border-bottom:none;}

.prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
    background: none;
    color: #ff7261;
}

.pro-lab{
    margin-right: 20px;
    font-weight: normal;
}

.pro-sort {
    padding-right: 20px;
    float: left;
}

.pro-page-list { margin: 5px 0 0 0; }

.product-list img{
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box { position: relative; }
.adtocart {
    background: #fc5959;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 3px solid #fff;
    left: 45%;
    bottom: -25px;
    position: absolute;
}

.adtocart i{
    color: #fff;
    font-size: 25px;
    line-height: 42px;
}

.pro-title {
    color: #5A5A5A;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
}

.product-list .price {
    color:#fc5959 ;
    font-size: 15px;
}

.pro-img-details { margin-left: -15px; }
.pro-img-details img { width: 100%; }

.pro-d-title {
    font-size: 16px;
    margin-top: 0;
}

.product_meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 15px 0;
}

.product_meta span {
    display: block;
    margin-bottom: 10px;
}
.product_meta a, .pro-price{ color:#fc5959; }

.pro-price, .amount-old {
    font-size: 18px;
    padding: 0 10px;
}

.amount-old { text-decoration: line-through; }
.quantity { width: 120px;}

.pro-img-list {
    margin: 10px 0 0 -15px;
    width: 100%;
    display: inline-block;
}

.pro-img-list a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pro-d-head {
    font-size: 18px;
    font-weight: 300;
}

.candidate-list-box.card{
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.candidate-list-box.card:hover{
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.avatar-md {
    height: 5rem;
    width: 5rem;
}

.fs-19 { font-size: 19px; }

.primary-link {
    color: #314047;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.bookmark-post .favorite-icon a, .job-box.bookmark-post .favorite-icon a {
    background-color: #da3746;
    color: #fff;
    border-color: danger;
}
.favorite-icon a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #eff0f2;
    border-radius: 6px;
    color: rgba(173,181,189,.55);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


.candidate-list-box .favorite-icon {
    position: absolute;
    right: 22px;
    top: 22px;
}
.candidate-list-box{ cursor: pointer;}

.bg-soft-secondary {
    background-color: rgba(116,120,141,.15)!important;
    color: #74788d!important;
}


/* Order Details */

.orderId {
    font-size: .87rem;
    color: rgb(42, 129, 205);
}
.candidate-list-content ul li:not(.price) { font-size: .94rem; }
.candidate-list-content ul li.price, #order_details .price
{ color: rgb(209, 0, 36); }

.btn.buyagain{
    background-color: rgb(40, 124, 197);
    color: white;
}
.status i{ font-size: .6rem; }

/* modal box order details */

/*.wrapper{
   background-color: #f5f8fa;  
}*/

#order_details #order-heading {
    background-color: #dce9ef;
    position: relative;
    padding-top: 20px;
}

#order_details #order-heading .text-uppercase { color: #777; }


/*#order_details .close {
    padding: 10px;
    background-color: #616161;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -20px
}*/

#order_details .wrapper {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px
}

#order_details #shipping-address > p , #payment-info > p {
    font-size: 0.93rem;
    margin: 0;
}

#order_details a.btn {
    font-size: 0.9rem;
    background-color: #675fc1;
    border: none;
}

#order_details a.btn:hover { background-color: #484fa3; }

#order_details .row { margin: 0px; }

@media(max-width: 425px) {
    #order_details .wrapper { padding: 20px; }
}

