    
    <div id="HomeCarousel" class="carousel slide my-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#HomeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#HomeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#HomeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="images/carousel/pexels-evg-kowalievska-1040424.jpg" class="d-block img-fluid" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="images/carousel/freestocks-_3Q3tsJ01nc.jpg" class="d-block img-fluid" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="images/carousel/brooke-cagle.jpg" class="d-block img-fluid" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#HomeCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#HomeCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <!--Why shop with us starts here -->
    <div id="infobox" class="py-5">
      <h2 class="text-center mb-5">Why Shop With Us</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 px-5">
        <div class="col">
            <div class="box">
                <i class="fa-solid fa-check"></i>
                <p class="ps-2 fw-bold">Quality Product</p>
            </div>
        </div>
        <div class="col mt-3 mt-sm-0">
            <div class="box">
                <i class="fa-solid fa-truck-fast"></i>
                <p class="ps-2 fw-bold">Free Shipping</p>
            </div>
        </div>  
        <div class="col mt-3 mt-lg-0">
            <div class="box">
                <i class="fa-solid fa-arrows-rotate"></i>
                <p class="ps-2 fw-bold">10-days Return Policy</p>
            </div>
        </div>
        <div class="col mt-3 mt-lg-0">
            <div class="box">
                <i class="fa-solid fa-phone"></i>
                <p class="ps-2 fw-bold">24/7 Support</p>
            </div>
        </div>  
      </div>
    </div>
    <!-- Why shop with us ends here-->
    
    <!-- Main body starts here -->
<div class="" id="Main">
     
  <!-- product-categories-start -->
  <div id="space-medium" class="my-5 bg-white">
    <div class="container">
        <div class="section-title text-center pb-4">
            <h3>ONLY THE BEST</h3>
            <p>Popular categories that people are shopping for right now.</p>
        </div>
    
        <div class="row d-flex justify-content-center">
            <!-- main-product-start-->
            <div class="col col-xs-12 block1-txt">
                <div class="main-product">
                    <div class="text-center">
                      <a href="#" class="main-product-img imghover">
                        <img src="images/categories/jon-ly-Xn7GvimQrk8-unsplash.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="product-caption bg-dark pe-3">
                        <h3><a href="#" class="text-white text-decoration-none">Women</a></h3>
                    </div>
                </div>
                <div class="block1-txt-child2 trans-05">
                  <div class="block1-link trans-09">
                    Shop Now
                  </div>
                </div>
            </div>
            <!-- main-product-close-->
            <!-- main-product-start-->
            <div class="col col-xs-12 block1-txt">
                <div class="main-product">
                    <div class="text-center">
                      <a href="#" class="main-product-img imghover">
                        <img src="images/categories/pexels-files-1620760.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="product-caption bg-dark pe-3">
                        <h3><a href="#" class="text-white text-decoration-none">Kids</a></h3>
                    </div>
                </div>
                <div class="block1-txt-child2 p-b-4 trans-05">
                  <div class="block1-link stext-101 cl0 trans-09">
                    Shop Now
                  </div>
                </div>
            </div>
            <!-- main-product-close-->
            <!-- main-product-start-->
            <div class="col col-xs-12 block1-txt">
              <div class="main-product">
                  <div class="text-center">
                    <a href="#" class="main-product-img imghover">
                      <img src="images/categories/mohamad-khosravi-cp4ucXlnhYw-unsplash.jpg" alt="" class="img-fluid"></a>
                  </div>
                  <div class="product-caption bg-dark pe-3">
                      <h3><a href="#" class="text-white text-decoration-none">Men</a></h3>
                  </div>
              </div>
              <div class="block1-txt-child2 p-b-4 trans-05">
                <div class="block1-link stext-101 cl0 trans-09">
                  Shop Now
                </div>
              </div>
            </div>
          <!-- main-product-close-->
        </div>
        <!-- Product-categories-close -->
    </div>
  </div>

  <!-- New Arrivals Products-start -->
  <hr class="mb80 mt100">
  <div id="newarrivals" class="my-5">
      <div class="section-title text-center pb-4">
          <h2>New Arrivals Products</h2>
          <p>The best of global brands, at your doorstep!</p>
      </div>
      
      <div class="row">
        {{#each newarrivals}}
          <div class="col-custom col-md-3 col-sm-4 col-6">
              {{> productcard}}
          </div>
        {{/each}}        
      </div>
  </div>
  
  <!-- New Arrivals Products-close -->
  <hr class="mb80 pb-5">
  <!--offers Image block-->
  <div class="">
      <img src="/images/categories/6cc01b44-0017-4e1a-9337-76c7fc914ec3.avif" alt="" class="img-fluid">
  </div>

</div>


