

<section class="py-5">
    <div class="container">
        <div class="row ">
            <div class="col-md-3" id="myprofile">
                <h2 class="py-3 text-white text-center">MY PROFILE</h2>
                
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <i class="fa fa-user-circle-o mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Personal information</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <i class="fa fa-calendar-minus-o mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Addresses</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Reviews</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <i class="fa fa-check mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Confirm booking</span></a>
                    </div>
            </div>
            <div class="col-md-9">
                <!-- Tabs content -->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <h4 class="font-italic mb-4">Personal information</h4>
                        
                        <div class="d-flex">
                            <div class="d-flex">
                               <input type="text" class="form-control" data-field="firstname" id="firstname" 
                                 name="firstname" placeholder="First Name" value="{{userprofile.firstname}}" required disabled>
                                <button class="edit-link" data-field="firstname">Edit</button>
                                <a href="/profile/edit/" class="btn btn-primary save-button" data-field="firstname">Save</a> 
                            </div>
                            <div class="d-flex">
                               <input type="text" class="form-control" data-field="lastname" id="lastname"
                                 name="lastname" placeholder="Last Name" value="{{userprofile.lastname}}" required disabled>
                                <button class="edit-link" data-field="lastname">Edit</button>
                                <a href="/profile/edit/" class="btn btn-primary save-button" data-field="lastname">Save</a>
                            </div>
                        </div>

                        <div class="d-flex">
                            <span>Gender</span>
                            <input type="radio" id="male"  name="gender"
                               data-field="gender" value="male" required disabled 
                               {{#if (isEqualTo userprofile.gender 'male')}}checked{{/if}}>
                            <label for="male" class="pe-3">Male</label>
                            <input type="radio" id="female" name="gender"
                               data-field="gender" value="female" required disabled
                               {{#if (isEqualTo userprofile.gender 'female')}}checked{{/if}}>
                            <label for="female">Female</label><br>
                            <button class="edit-link" data-field="gender">Edit</button>
                            <a href="/profile/edit/" class="btn btn-primary save-button" data-field="gender">Save</a>
                        </div>
                        
                        <div class="d-flex">
                            <input type="email" name="email" id="email" data-field="email" 
                               class="form-control" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="example@email.com"
                               value="{{userprofile.email}}" required disabled>
                            <button class="edit-link" data-field="email">Edit</button>
                            <a href="/profile/edit/" class="btn btn-primary save-button" data-field="email">Save</a>
                        </div>
                        <p id="email-text" class="text-danger"></p>
                        <div class="d-flex">
                            <input type="tel" class="form-control" id="phone" data-field="phone" name="phone" 
                              placeholder="+1 888-999-7777" value="{{user.phone}}" required disabled>
                            <button class="edit-link" data-field="phone">Edit</button>
                            <a href="/profile/edit/" class="btn btn-primary save-button" data-field="phone">Save</a>
                        </div>
                        <p id="phone-text" class="text-danger"></p>
					</div>   

                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <h4 class="font-italic mb-4">Addresses</h4>
                        <!--<button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#shipping-address">
                            Add new Adress</button>-->
                        <div class="p-3 card-child mt-4 py-4" data-bs-toggle="collapse" data-bs-target="#shipping-address">
                            <div class="d-flex flex-row align-items-center">
                                <span class="circle-3">
                                    <i class="fa fa-plus"></i>
                                </span>
                                <div class="d-flex flex-column ms-3 mt-1">
                                    <h6 class="fw-bold text-primary">Add New Address</h6> 
                                </div>
                            </div>
                        </div>
                        <div class="collapse py-3" id="shipping-address">
                            <div class="bg-light p-5 mb-5">
                                <form method="POST" action="/profile/add-address" class="addressForm">
                                   {{> addressForm}}
                                </form>
                            </div>
                        </div>
                        {{> addresses}}
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <h4 class="font-italic mb-4">Reviews</h4>
                        <p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <h4 class="font-italic mb-4">My Orders</h4>
                        <p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="modalOtp" data-bs-backdrop="static" data-bs-keyboard="false" 
    tabindex="-1" aria-labelledby="modalOtpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" id="modalOtpLabel">Verify OTP</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           <div id="oldEmail">
               <input type="text" class="form-control" placeholder="Enter OTP sent to ">
           </div>
           <div id="newEmail">
               <input type="text" class="form-control" placeholder="Enter OTP sent to ">
           </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">SUBMIT</button>
      </div>
    </div>
  </div>
</div>
