<div class="container mt-4">
    <form action="/change-password" method="POST" class="col-md-4 mx-auto border border-2 p-4 border-subtle-dark">
         <h3 class="text-center mb-4">RESET PASSWORD</h3>
         <p class="text-center">Please create a new, strong password to secure your account.</p>
     
         <div class="form-group">
           <label for="password">New Password</label>
           <input type="password" name="password" id="password" class="form-control" required>
         </div>

         <input type="hidden" name="token" value="{{token}}">
     
         <div class="form-group">
           <label for="password_confirmation">Confirm Password</label>
           <input type="password" name="confirmPassword" id="password_confirmation"
             class="form-control" required>
         </div>
     
         <button type="submit" class="btn btn-block text-white pt-3" style="background-color: #c94545;">Reset Password</button>
         <p class="message text-danger">{{message}}</p>
    </form>
</div>