<div id="sign">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>Looks like you're new here!</h2>
								<p>Already have an account?</p>
								<a href="/login" class="btn btn-white btn-outline-white">Sign In</a>
							</div>
			      </div>
						<div class="sign-wrap p-4 p-lg-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign Up</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>

							<form action="signup" class="signin-form" id="user-form" method="POST">
                  <div class="form-group mb-3">
			      		  	  <label class="label" for="firstname">First Name</label>
			      		  	  <input type="text" id="firstname" name="firstname" class="form-control" placeholder="first Name" required>
											<p id="firstname-error" class="error-message"></p>
			      		  </div>
                  <div class="form-group mb-3">
			      		  	  <label class="label" for="lastname">Last Name</label>
			      		  	  <input type="text" id="lastname" name="lastname" class="form-control" placeholder="last Name" required>
											<p id="lastname-error" class="error-message"></p>
			      		  </div>
			      		  <div class="form-group mb-3">
			      		  	  <label class="label" for="email">Email Address</label>
			      		  	  <input type="email" id="email" name="email" class="form-control" placeholder="email" required>
											<p id="email-error" class=""></p>
			      		  </div>
									<!--<div class="form-group mb-3">
			      		  	  <label class="label" for="phone">Phone No</label>
			      		  	  <input type="tel" id="phone" name="phone" class="form-control" placeholder="phone number" required>
			      		      <p id="phone-error" class=""></p>
									</div>-->
		              <div class="form-group mb-3">
		              	  <label class="label" for="password">Password</label>
		                  <input type="password" id="password" name="password" class="form-control" placeholder="password" required>
											<p id="password-error" class="error-message"></p>
		              </div>
                  <div class="form-group mb-3">
		              	  <label class="label" for="confirmpassword">Confirm Password</label>
		                  <input type="password" id="confirmpassword" name="confirmpassword" 
											   class="form-control" placeholder="confirm password" required>
											<p id="confirmpassword-error" class="error-message"></p>
		              </div>
		              <div class="form-group">
		              	  <button type="submit" class="form-control px-3">Sign Up</button>
		              </div>
		          </form>

		        </div>
		      </div>
				</div>
			</div>
		</div>
	</div>

